<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		 <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.40.62:3306/cafe"/>
        <property name="username" value="teacher"/>
        <property name="password" value="admin"/>
      </dataSource>
    </environment>
  </environments>
 <mappers>
    <mapper resource="dao/MemberMapper.xml"/>
    <mapper resource="dao/StampMapper.xml"/>
    <mapper resource="dao/CouponMapper.xml"/>
    <mapper resource="dao/TagMapper.xml"/>
    <mapper resource="dao/CategoryMapper.xml"/>
    <mapper resource="dao/IncomeMapper.xml"/>
    <mapper resource="dao/MenuMapper.xml"/>
    <mapper resource="dao/OrderMapper.xml"/>
    <mapper resource="dao/CartMapper.xml"/>
    <mapper resource="dao/CartListMapper.xml"/>
    <mapper resource="dao/MenuTagMapper.xml"/>
</mappers>
</configuration>