<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafePro_DB.dao.CategoryDAO">

	<resultMap type="cafePro_DB.model.vo.Category"
		id="CategoryMap">
		<id property="caNum" column="CA_NUM" />
		<result property="caName" column="CA_NAME" />
		<result property="caCode" column="CA_CODE" />
	</resultMap>

	<select id="checkCategory" resultType="boolean">
		select count(*) > 0
		from category
		where CA_NAME = #{category.caName} and CA_CODE = #{category.caCode}
	</select>
	<insert id="insertCategory">
		insert into category(CA_NAME, CA_CODE)
		values(#{category.caName}, #{category.caCode})
	</insert>
	<select id="seletAllCategory" resultMap="CategoryMap">
		select * from category 
	</select>
	<select id="seletCategory">
		select * from category
		where CA_NUM =${can}
	</select>
	<update id="updateCategory">
		update category
		set CA_NAME = #{cam}, CA_CODE = #{cac}
		where CA_NUM = #{can}
	</update>
	
</mapper>
