<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.CouponDAO">
  	
	<insert id="insertCoupon">
        INSERT INTO coupon (CO_M_ID, CO_COUNT) VALUES (#{memberId}, 0)
    </insert>
    <delete id="deleteMember">
    	delete from coupon
    	where CO_M_ID = #{id}
    </delete>
    <select id="selectCoupon">
    	select * from coupon
    	where CO_M_ID = #{id}
    </select> 
  	
  </mapper>