<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IncomeDAO">

	<resultMap type="model.vo.Income" id="IncomeMap">
		<id property="inNum" column="IN_NUM" />
		<result property="inDate" column="IN_DATE" />
		<result property="inMoney" column="IN_MONEY" />
	</resultMap>

	<select id="incomeDay" resultType="int">
		select IFNULL(sum(IN_MONEY), 0)
		from income
		where IN_DATE between date(NOW()) 
		and DATE_ADD(DATE(NOW()), interval 1 day);
	</select>
	<select id="incomeMonth" resultType="int">
		select IFNULL(sum(IN_MONEY), 0)
		from income
		where IN_DATE between date_format(now(), '%Y-%m-01')
		and last_day(now());
	</select>
	<select id="incomeYear"  resultType="int">
		select IFNULL(sum(IN_MONEY), 0)
		from income
		where IN_DATE between date_format(now(), '%Y-01-01')
		and last_day(now());
	</select>
	<select id="totalIncome"  resultType="int">
		select IFNULL(sum(IN_MONEY), 0) from income;
	</select>
	<insert id="insertIncome">
		insert into income(IN_MONEY) 
		values (#{resMoney});
	</insert>
</mapper>