<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.MemberDAO">
  	
  	<resultMap type="model.vo.Member" id="MemberMap">
		<id property="mId" column="M_ID"/>
		<result property="mPw" column="M_PW"/>
		<result property="mNumber" column="M_NUMBER"/>
		<result property="mNickname" column="M_NICKNAME"/>
		<result property="mAuthority" column="M_AUTHORITY"/>
		<result property="mDel" column="M_DEL"/>
		<result property="mDelTime" column="M_DEL_TIME"/>
	</resultMap>
	
	<select id="selectMember" resultMap="MemberMap">
		select * from member
		where M_ID = #{member.mId} and M_PW = #{member.mPw}
	</select>
	
	<insert id="insertMember">
		insert into member(M_ID,M_PW,M_NUMBER,M_NICKNAME) values
		(#{member.mId},#{member.mPw},#{member.mNumber},#{member.mNickname})
	</insert>
  	<select id="findPw" resultMap="MemberMap">
		select M_PW from member
		where M_ID = #{member.mId} and M_NUMBER = #{member.mNumber}
	</select>
	<update id="updateMember">
		update member 
		set M_NICKNAME = #{member.mNickname},
			M_NUMBER = #{member.mNumber},
			M_PW = #{member.mPw}
		where M_ID = #{member.mId}
	</update>
	
	<update id="UpdateDeleteEvent" parameterType="map">
    create event update_delete_event
    on schedule every 1 minute starts now() + INTERVAL 1 SECOND
    on completion not preserve
    do
    begin
        if not exists (select 1 from `member` where M_ID = #{member.mId} and
        M_DEL = 'y') then
            update `Member`
            set M_DEL = 'Y', M_DEL_TIME = now()
            where M_ID = #{member.mId};
        end if;

        delete from `member`
            where M_ID = #{member.mId}
            and M_DEL = 'y'
            and M_DEL_TIME &lt; now() - INTERVAL 7 DAY;

        if row_count() > 0 then
            drop event if exists update_delete_event;
        end if;
    end
</update>


  </mapper>