<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MenuDAO">

	<resultMap type="model.vo.Menu" id="MenuMap">
		<id property="meCode" column="ME_CODE"/>
		<result property="meCaNum" column="ME_CA_NUM"/>
		<result property="meName" column="ME_NAME"/>
		<result property="mePrice" column="ME_PRICE"/>
		<result property="meContent" column="ME_CONTENT"/>
		<result property="meThumb" column="ME_THUMB"/>
		<result property="meAble" column="ME_ABLE"/>
		<result property="meHotIce" column="ME_HOT_ICE"/>
		<collection property="list" ofType="model.vo.Menu_Tag">
			<id property="mtNum" column="MT_NUM"/>
			<result property="mtThgNum" column="MT_TAG_NUM"/>
			<result property="mtMeCode" column="MT_ME_CODE"/>
        </collection>
    </resultMap>

	<select id="selectMenuByCode">
		select * from menu where ME_CODE = #{meCode}
	</select>
	<select id="selectMenuByNameAndHI">
		select * from menu where ME_NAME = #{menu.meName} and ME_HOT_ICE = #{menu.meHotIce}
	</select>
    <select id="selectAllMenu">
    	select * from menu
    </select>

	<insert id="insertMenu">
	    INSERT INTO menu (ME_CODE, ME_CA_NUM, ME_NAME, ME_PRICE, ME_CONTENT, ME_HOT_ICE)
	    SELECT 
	        CONCAT(#{meCode}, LPAD(COUNT(ME_CODE) + 1, 3, '0')),
	        #{menu.meCaNum},
	        #{menu.meName},
	        #{menu.mePrice},
	        #{menu.meContent},
	        #{menu.meHotIce}
	    FROM menu
	    WHERE ME_CODE LIKE CONCAT(#{meCode}, '%');
	</insert>
    <update id="updateMenu">
	    UPDATE menu
	    SET ME_NAME = #{menu.meName},
	        ME_PRICE = #{menu.mePrice},
	        ME_CONTENT = #{menu.meContent},
	        ME_HOT_ICE = #{menu.meHotIce}
	    WHERE ME_CODE = #{menu.meCode}
	</update>

    <delete id="deleteMenu">
    	delete from menu
    	where ME_CODE = #{meCode}
    </delete>
    <select id="selectMenu">
    	select * from menu 
    	where ME_NAME = #{meName} and ME_PRICE = #{mePrice}
    </select>
    <select id="menuExists_HI" resultType="boolean">
    	SELECT COUNT(*) >1
    	FROM menu 
    	WHERE 
    		ME_HOT_ICE = #{meHotIce}
	</select>
	<select id="menuExists" resultType="boolean">
    	SELECT COUNT(*) = 1
    	FROM menu 
    	WHERE 
    		ME_HOT_ICE = #{meHotIce} and ME_NAME = #{meName}
	</select>
	<select id="selectMenuByNumAndCode">
    	select * from menu 
    	where ME_CA_NUM = #{meCaNum} and ME_CODE = #{meCode}
    </select>
    
    
</mapper>