<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrderDAO">

	<resultMap type="model.vo.Order" id="OrderMap">
		<id property="orNum" column="OR_NUM" />
		<result property="orCtNum" column="OR_CT_NUM" />
		<result property="orMId" column="OR_M_ID" />
		<result property="orUse" column="OR_USE" />
		<result property="orTotal" column="OR_TOTAL" />
		<result property="orDate" column="OR_DATE" />
		<result property="orFinal" column="OR_FINAL" />
		<result property="meName" column="ME_NAME" />
		<result property="clAmount" column="CL_AMOUNT" />
	</resultMap>

	<select id="orderView" resultMap="OrderMap">
	select
		OR_M_ID,
		OR_DATE,
		OR_FINAL,
		ME_NAME,
		CL_AMOUNT
	from `order`
	join `cart` on OR_CT_NUM = CT_NUM
	join `cart_list` on CL_CT_NUM = CL_NUM
	join `menu` on CL_ME_CODE = ME_CODE
	join `member` on OR_M_ID = M_ID
	where OR_M_ID = #{mId}
	</select>
	<insert id="insertOrder">
		insert into `order`(OR_CT_NUM, OR_M_ID, OR_USE, OR_TOTAL, OR_FINAL)
		values (#{ctNum}, #{mId}, #{useCoupon}, #{totalAmount}, #{resMoney});
	</insert>
</mapper>