<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MenuDAO">

	<resultMap type="model.vo.Menu" id="MenuMap">
		<id property="meCode" column="ME_CODE"/>
		<result property="meCaNum" column="ME_CA_NUM"/>
		<result property="meName" column="ME_NAME"/>
		<result property="mePrice" column="ME_PRICE"/>
		<result property="meContent" column="ME_CONTENT"/>
		<result property="meThumb" column="ME_THUMB"/>
		<result property="meAble" column="ME_ABLE"/>
		<result property="meHotIce" column="ME_HOT_ICE"/>
	</resultMap>

	<select id="selectMenuByCode">
		select * from menu where ME_CODE = #{menu.meCode}
	</select>
	<insert id="insertMenu">
        INSERT INTO menu (ME_CODE, ME_CA_NUM, ME_NAME, ME_PRICE, ME_CONTENT) 
        VALUES (#{menu.meCode}, #{menu.meCaNum}, #{menu.meName}, #{menu.mePrice}, #{menu.meContent})
    </insert>
    <select id="seletAllMenu">
    	select * from menu
    </select>
    <select id="seletMenuByCode">
    	select * from menu where ME_CODE = #{meCode}
    </select>
    <update id="updateMenu">
    	update menu
    	set ME_NAME = #{meName},
    		ME_PRICE = #{mePrice}
    	where ME_CODE = #{meCode}
    </update>
    <delete id="deleteMenu">
    	delete from menu
    	where ME_CODE = #{meCode}
    </delete>
    <select id="seletMenu">
    	select * from menu 
    	where ME_NAME = #{meName} and ME_PRICE = #{mePrice}
    </select>
    <select id="menuExists" resultType="boolean">
    	select count(*) > 0 from menu where ME_NAME = #{meName}
	</select>
    
</mapper>