<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.StampDAO">
  	
	<insert id="insertStamp">
        INSERT INTO stamp (ST_M_ID, ST_COUNT) VALUES (#{memberId}, 0)
    </insert>
    <delete id="deleteMember">
    	delete from stamp
    	where ST_M_ID = #{id}
    </delete>
  	
  </mapper>